.chart {
  height: 50vh;
  width: auto;
  transition: 0.3s;
}

.chartLine {
  height: 5vh;
  width: auto;
  transition: 0.3s;
  border-radius: 0  0  0.5rem  0.5rem;
}

.chartBar {
  height: 40.4vh;
  width: auto;
  transition: 0.3s;


}

.chart:hover {
}