/* Declare some variables */
/* Define Styles */

/* Override some Bootstrap pagination styles */
ul.pagination {
  align-content: center;
  align-items: center;
}
ul.pagination li.page-item.active button.page-link {
  color: #62788b !important;
  background-color: #ffffff !important;
  border-color: #ced4da !important;
}
ul.pagination button.page-link {
  padding: 0.35rem 0.5rem;
  min-width:auto;
  text-align: center;
  box-shadow: none !important;
  border-color: #b8c0c8 !important;
  color: #626262;
  font-weight: 600;
  background-color: #e3e7eb;
  font-size: 0.5rem;
}
ul.pagination button.page-link:hover {
  background-color: #f4f4f4;
}
